<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Class</title>

        <!-- Used for loading external sources by View::addHeader() -->
        <!-- Usado para cargar archivos externos con View::addHeader() -->
        {headers}

    </head>
    <body>

        <!-- Used to load HTML file specified on View::setView() -->
        <!-- Usado para cargar el archivo HTML especificado en View::setView() -->
        {content}

    </body>
</html>
