<!DOCTYPE html>
<html>
    <head>
        <title>View Class</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Used for loading external sources by View::source() -->
        <!-- Usado para cargar archivos externos con View::source() -->
        {sources}

    </head>
    <body>

        <!-- Used to load HTML specified on View::__construct() -->
        <!-- Usado para cargar el HTML especificado en View::__construct() -->
        {content}

    </body>
</html>
